@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  box-sizing: border-box; 
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#flexContainer{
 
  padding: 0;
}

header{
	background-color: black;
	height: 2em;
	width: 100%;
}

#logo{
  max-height: 45%;
  margin: 10px 0px 5px 15px;
}

#weatherBoxes{
  color: #ffffff;
  -webkit-text-stroke: 0.2px black;
  display: flex;
  flex-direction: column;

}

#weatherBoxEarth, #weatherBoxMars{
  width: 100%;
  height: 21.5vh;
  padding: 5px;
  

}

#weatherBoxEarth{
  background-image:linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/earth.jpg");
  background-size: cover;

}

#weatherBoxMars{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/mars.jpg");
  background-size: cover;
  margin-top: 20px;
}

.rowOne{
  margin: 2px 5px 5px 10px;
}

.rowTwo{
  margin: 2px 5px 5px 10px;
}


h1,h2,h3,p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1{
  font-size: 16pt;
}

h2{
  font-size: 13pt;
}

h3{
  font-size: 12pt;
}

p{
  font-size: 9pt;
}

#mapWrapper{
  margin: auto;
  margin: 20px 20px 20px 20px;
}

#mapWrapper > h1{
    text-align: center;
}

#map {
  height: 45vh;
  width: 100%;
  margin-top: 5px;
}

#welcome{
  font-family: 'Pacifico', cursive;
  margin: auto;
}


@media only screen and (min-width: 568px) {

#weatherBoxEarth, #weatherBoxMars{
  width: 90%;
  height: 28vh;
  padding: 5px;
  margin: 10px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px -5px rgba(0,0,0,0.35);
}

.rowOne{
  margin: 5px 5px 5px 10px;
}

.rowTwo{
  margin: 10px 5px 5px 10px;
}


h1{
  font-size: 20pt;
}

h2{
  font-size: 18pt;
}

h3{
  font-size: 14pt;
}

p{
  font-size: 10pt;
}

#welcome{
  margin-top: 5px;
  font-size: 27pt;
}

@media only screen and (min-width: 1024px) {
  #weatherBoxes{
    display: flex;
    flex-direction: row;
  }
#weatherBoxEarth, #weatherBoxMars{
  width: 90%;
  height: 28vh;
  padding: 5px;   
}

#map {
  height: 50vh;
  width: 100%;
  margin-top: 5px;
}

h1{
  font-size: 22pt;
}

h2{
  font-size: 19pt;
}

h3{
  font-size: 16pt;
}

p{
  font-size: 16pt;
}
#welcome,#mapWrapper > h1 {
  font-size: 30pt;
}
}
	
@media only screen and (min-width: 1200px) {
	header{
  height: 2.5em;
}
.rowTwo{
  margin: 10px 5px 5px 10px;
}

#weatherBoxEarth, #weatherBoxMars{
  width: 90%;
  height: 29vh;
}
#map {
  height: 55vh;
}
}